{% load static %}
{% load poll_extras %}

            <div class="home-landing-stats gap-4 w-fit centerbox p-5 bg-[var(--color12)] rounded-2xl mt-4 relative" style="animation: load8 600ms;">
                <div class="home-landing-stat flex gap-2">
                    <div class="w-10 h-10 centerbox items-center rounded-xl bg-[var(--color11)]"><img class="w-6" alt="fast-delivery" src="{% static 'media/icons/truck.png' %}"></div>
                    <div class="text-nowrap">
                        <strong>ارسال سریع</strong>
                        <p class="mt-[-5px] text-sm text-[var(--color10)]">به سراسر ایران</p>
                    </div>
                </div>
                <span class="seprator w-1 border-l border-[var(--color9)]"></span>
                <div class="home-landing-stat flex gap-2">
                    <div class="w-10 h-10 centerbox items-center rounded-xl bg-[var(--color11)]">
                        <svg id="Shield Done" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M19.9377 5.42951C19.3317 4.82251 16.0037 2.67651 12.2497 2.67651C8.49369 2.67651 5.16769 4.82251 4.56169 5.42951C3.98069 6.01151 3.98969 6.46451 4.03369 8.97851C4.05269 9.99851 4.07769 11.3865 4.07769 13.3045C4.07769 19.8245 9.39969 22.5315 12.2497 22.5315C15.0987 22.5315 20.4217 19.8245 20.4217 13.3045C20.4217 11.3855 20.4467 9.99651 20.4657 8.97751C20.5107 6.46351 20.5187 6.01151 19.9377 5.42951Z" fill="#674d45"></path>
                        <path d="M12.073 14.7244L15.971 10.8254C16.264 10.5324 16.264 10.0574 15.971 9.76443C15.678 9.47143 15.203 9.47143 14.91 9.76443L11.543 13.1334L10.181 11.7694C9.88802 11.4764 9.41302 11.4764 9.12102 11.7694C8.82702 12.0614 8.82702 12.5374 9.12002 12.8304L11.012 14.7244C11.153 14.8654 11.344 14.9444 11.543 14.9444C11.742 14.9444 11.932 14.8654 12.073 14.7244Z" fill="#674d45"></path>
                        </svg>
                    </div>
                    <div class="text-nowrap">
                        <strong>کیفیت بالا</strong>
                        <p class="mt-[-5px] text-sm text-[var(--color10)]">و تضمین شده</p>
                    </div>
                </div>
                <span class="seprator w-1 border-l border-[var(--color9)]"></span>
                <div class="home-landing-stat flex gap-2">
                    <div class="w-10 h-10 centerbox items-center rounded-xl bg-[var(--color11)]">
                        <img class="w-6" alt="products" src="{% static 'media/icons/package.webp' %}">
                    </div>
                    <div class="text-nowrap">
                        <strong>+ {{ 200|to_fanum }}</strong>
                        <p class="mt-[-5px] text-sm text-[var(--color10)]">محصول متنوع</p>
                    </div>
                </div>
                <span class="seprator w-1 border-l border-[var(--color9)]"></span>
                <div class="home-landing-stat flex gap-2">
                    <div class="w-10 h-10 centerbox items-center rounded-xl bg-[var(--color11)]">
                        <svg id="Face" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.38867C6.874 2.38867 2.5 6.76267 2.5 12.1387C2.5 17.5147 6.874 21.8887 12.25 21.8887C17.626 21.8887 22 17.5147 22 12.1387C22 6.76267 17.626 2.38867 12.25 2.38867Z" fill="#674d45"></path>
                        <path d="M12.25 17.6875C15.006 17.6875 17.248 15.4455 17.248 12.6895V11.9395H15.748V12.6895C15.748 14.6185 14.179 16.1875 12.25 16.1875C10.321 16.1875 8.75195 14.6185 8.75195 12.6895V11.9395H7.25195V12.6895C7.25195 15.4455 9.49395 17.6875 12.25 17.6875Z" fill="#674d45"></path>
                        </svg>
                    </div>
                    <div class="text-nowrap">
                        <strong>+ {{ 95|to_fanum }}%</strong>
                        <p class="mt-[-5px] text-sm text-[var(--color10)]">رضایت مشتریان</p>
                    </div>
                </div>
            </div>
