{% load static %}
{% load poll_extras %}

<div class="basket-box flex w-[90%] items-start gap-3">
    <div class="basket-box w-[90%]">
        {% for o in orders.orderdetails_set.all %}

            <div class="relative py-4 border-b border-[var(--color13)] {% if forloop.first %}border-t border-[var(--color13)] mt-3{% endif %} items-stretch w-full">
                <div class="flex gap-4 ">

              <a href="{{ o.product.get_absolute_url }}"
                 class="flex-shrink-0 w-[130px] h-[130px] rounded-2xl bg-[var(--color12)] overflow-hidden">
                <img loading="lazy" class="w-full h-full object-cover"
                     src="{{ o.product.product_image.first.image.url }}"
                     alt="{{ o.product.title }}">
              </a>

              <div class="flex flex-col justify-between flex-1 min-w-0">

                <div class="">
                    <div class="flex gap-2">
                        <div class="flex text-[var(--color10)] gap-1 text-sm">
                            <a target="_blank" href="{{ o.product.category.get_absolute_url }}">{{ o.product.category }}</a> <i class="fa fa-angle-left mt-[3px] text-[var(--color14)] text-xs"></i> <a target="_blank" href="{{ o.product.category.main_category.get_absolute_url }}">{{ o.product.category.main_category }}</a>
                        </div>
                        {% if o.product.is_byWeight %}
                        <div class="bg-[var(--color12)] mt-[-2px] rounded-lg py-0.5 px-2.5 text-sm text-nowrap flex-shrink-0">
                          {{ o.pack_size|to_fanum }}
                        </div>
                      {% endif %}
                    </div>
                  <a href="{{ o.product.get_absolute_url }}"
                     class="basket-item-title mt-1 text-2xl font-semibold leading-snug">
                    {{ o.product.title|to_fanum }}
                  </a>
                </div>

                <div class="flex items-center justify-between gap-2">
                {% if not o.product.offer > 0 %}
                    <div class="basket-price text-2xl font-semibold">{{ o.total_price|three_digits_currency }}</div>
                    {% else %}
                    <div class="">
                        <div class="text-sm flex w-[100%] gap-2">
                            <div style="text-decoration: line-through 1px solid var(--color7)" class="mt-5">{{ o.total_price_without_discount|three_digits_currency }}</div>
                            <div class="h-5 text-nowrap px-2 pt-0.5 mt-5 bg-[var(--color5)] text-[var(--color3)] rounded-lg">
                                {{ o.product.offer|to_fanum }} %
                            </div>
                        </div>
                        <div class="basket-price text-2xl font-semibold">{{ o.total_price|three_digits_currency }}</div>
                    </div>
                {% endif %}

                  <div class="flex items-center rounded-lg overflow-hidden pl-3  {% if o.Check_product_inventory %}absolute left-0  bottom-3{% else %}relative top-2{% endif %}">
                    <button onclick="change_order_count({{ o.id }}, 'increase','basket')"
                            class="btn-prdcounter flex items-center justify-center">
                      <i class="fa fa-add text-sm"></i>
                    </button>
                    <div class="min-w-[36px] h-[38px] flex items-center justify-center text-base font-medium px-1">
                      {{ o.count|to_fanum }}
                    </div>
                    <button onclick="change_order_count({{ o.id }}, 'decrease','basket')"
                            class="btn-prdcounter flex items-center justify-center">
                      {% if o.count == 1 %}
                        <i class="fa fa-trash text-sm"></i>
                      {% else %}
                        <i class="fa fa-minus text-sm"></i>
                      {% endif %}
                    </button>
                  </div>
                </div>

              </div>
            </div>
            {% if not o.Check_product_inventory and o.product.is_available %}
                <div class="flex flex-wrap justify-between bg-[var(--color12)] mt-3 py-2 px-2 rounded-xl">
                    <div class="flex gap-1">
                        <svg id="Danger" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M19.3101 10.6927L19.0981 10.3187C16.1121 5.00867 14.2561 3.03467 12.2501 3.03467C10.2441 3.03467 8.38808 5.00867 5.40208 10.3187L5.19108 10.6927C4.11808 12.5747 1.88808 16.4897 2.30208 18.8257C2.79008 21.5887 5.63508 22.0347 12.2501 22.0347C18.8661 22.0347 21.7111 21.5887 22.1981 18.8257C22.6121 16.4897 20.3821 12.5747 19.3101 10.6927Z" fill="#674d45"></path>
                        <path d="M11.5005 16.4297C11.5005 16.8437 11.8405 17.1797 12.2545 17.1797C12.6685 17.1797 13.0045 16.8437 13.0045 16.4297C13.0045 16.0157 12.6685 15.6797 12.2545 15.6797H12.2455C11.8315 15.6797 11.5005 16.0157 11.5005 16.4297Z" fill="#674d45"></path>
                        <path d="M12.2495 8.28467C11.8355 8.28467 11.4995 8.62067 11.4995 9.03467V12.9297C11.4995 13.3437 11.8355 13.6797 12.2495 13.6797C12.6635 13.6797 12.9995 13.3437 12.9995 12.9297V9.03467C12.9995 8.62067 12.6635 8.28467 12.2495 8.28467Z" fill="#674d45"></path>
                        </svg>
                        <div class="mt-1">موجودی تغییر کرده و به این اندازه محصول موجود نیست</div>
                    </div>
                    <div class="flex gap-1 basket-command-btns">
                        <button onclick="{% if not o.product.is_byWeight %}change_order_count({{ o.id }}, 'edit','basket'){% else %}Get_orderdetail_packs({{ o.id }}) ,PopUpOrder(null ,'open'){% endif %}" class="basket-command bg-[var(--color8)] cursor-pointer px-3 py-1.5 rounded-lg text-sm text-[var(--color6)]"> <i class="fa fa-edit text-[10px] mt-1 ml-1"></i>اصلاح موجودی </button>
                        <button onclick="change_order_count({{ o.id }}, 'delete','basket')" class="basket-command bg-[var(--del-bg)] cursor-pointer px-3 py-1.5 rounded-lg text-sm text-[var(--deny-text)]"> <i class="fa fa-trash text-[10px] mt-1 ml-1"></i>حذف از سبد خرید </button>
                    </div>
                </div>
                {% elif not o.product.is_available %}
                <div class="flex w-[100%] justify-between bg-[var(--color12)] mt-3 py-2 px-2 rounded-xl">
                    <div class="flex gap-1">
                        <svg id="Danger" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M19.3101 10.6927L19.0981 10.3187C16.1121 5.00867 14.2561 3.03467 12.2501 3.03467C10.2441 3.03467 8.38808 5.00867 5.40208 10.3187L5.19108 10.6927C4.11808 12.5747 1.88808 16.4897 2.30208 18.8257C2.79008 21.5887 5.63508 22.0347 12.2501 22.0347C18.8661 22.0347 21.7111 21.5887 22.1981 18.8257C22.6121 16.4897 20.3821 12.5747 19.3101 10.6927Z" fill="#674d45"></path>
                        <path d="M11.5005 16.4297C11.5005 16.8437 11.8405 17.1797 12.2545 17.1797C12.6685 17.1797 13.0045 16.8437 13.0045 16.4297C13.0045 16.0157 12.6685 15.6797 12.2545 15.6797H12.2455C11.8315 15.6797 11.5005 16.0157 11.5005 16.4297Z" fill="#674d45"></path>
                        <path d="M12.2495 8.28467C11.8355 8.28467 11.4995 8.62067 11.4995 9.03467V12.9297C11.4995 13.3437 11.8355 13.6797 12.2495 13.6797C12.6635 13.6797 12.9995 13.3437 12.9995 12.9297V9.03467C12.9995 8.62067 12.6635 8.28467 12.2495 8.28467Z" fill="#674d45"></path>
                        </svg>
                        <div class="mt-1">محصول ناموجود است</div>
                    </div>
                    <div class="flex gap-1">
                        <button onclick="change_order_count({{ o.id }}, 'delete','basket')" class="bg-[var(--del-bg)] cursor-pointer px-3 py-1.5 rounded-lg text-sm text-[var(--deny-text)]"> <i class="fa fa-trash text-[10px] mt-1 ml-1"></i>حذف از سبد خرید </button>
                    </div>
                </div>
            {% endif %}
            </div>

        {% endfor %}
    </div>
    {% include 'order_module/include/basket_totalbox_mobile.html' %}
    {% include 'order_module/include/basket_totalbox_desktop.html' %}

</div>