{% load poll_extras %}

<div class="home-carousel border-t border-b border-[var(--color11)] pt-4 pb-4 w-[100%]">
    <div class="flex justify-between">
        <a {% if special_carousel.url %}href="{{ special_carousel.url }}"{% endif %} class="home-carousel-title flex gap-2">
            <h3 class="carousel-colorbg w-15 h-10 bg-[{{ special_carousel.color_bg|default_if_none:"var(--color6)" }}] rounded-xl centerbox items-center">
                {% if special_carousel.icon %}
                    {{ special_carousel.icon|safe }}
                    {% else %}
                    {{ special_carousel.emoji }}
                {% endif %}
            </h3>
            <div class="flex text-4xl mt-0.5">
                <h3 id="carousel-title" class="font-semibold">{{ special_carousel.title }}</h3>
            </div>
        </a>
        <div class="flex gap-1 rounded-xl p-2 bg-[var(--color12)] text-[var(--color10)]">
            <i class="fa fa-info-circle mt-1"></i>
            <div>
                پیش نمایش
            </div>
        </div>
    </div>
    <div class="home-carousel flex w-[100%] gap-2 mt-4">
        <div class="special-carousel-sidebanner min-w-[350px] h-[465px]">
            {% include 'home_module/components/special_carousels/home_carousel_banner.html' %}
        </div>
        <div class="special-carousel swiper w-[100%]">
            <div class="swiper-wrapper" id="carousel-partial">
                {% include 'adminpanel_module/carousels/carousel_preview_components/carousel_partial.html' %}
            </div>
        </div>
    </div>
</div>