/* Webfont: Potk-Black */@font-face {
    font-family: 'PotkBlack';
    src: url('Potk Font.eot'); /* IE9 Compat Modes */
    src: url('Potk Font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Potk Font.woff') format('woff'), /* Modern Browsers */
         url('Potk Font.woff2') format('woff2'), /* Modern Browsers */
         url('Potk Font.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

