{% extends 'base.html' %}
{% load poll_extras %}

{% block page_title %}
     سوالات متداول
{% endblock %}

{% block topbar_title %}
    سوالات متداول
{% endblock %}

{% block page_content %}
    <div id="quis" class="relative">
        <div class="mt-40 centerbox text-center">
            <div>
                <div class="centerbox relative" style="animation: load8 300ms">
                    <div class="bg-[#C2B8B5] text-[var(--color6)] w-14 h-14 pt-3 rounded-2xl"><i class="fa fa-question fa-2x"></i></div>
                </div>
                <div class="text-5xl relative mt-3 font-black" style="animation: load8 500ms">
                    سوالات متداول
                </div>
            </div>
        </div>
        <div class="centerbox mt-4 relative" style="animation: load8 600ms">
            <div class="w-[80%]">
                {% for qc in questions %}
                    <div class="question-drawer" id="qc-draw{{ qc.id }}">
                        <div class="flex gap-3" onclick="DrawerQuestion('qc-draw{{ qc.id }}' ,'drawer{{ qc.id }}' ,'drawer-icon{{ qc.id }}')">
                            <i id="drawer-icon{{ qc.id }}" class="fa fa-add text-[var(--color6)] h-5 w-5 transition-all text-xl mt-1 relative"></i>
                            <div class="text-3xl">{{ qc.title }}</div>
                        </div>
                        <div id="drawer{{ qc.id }}" style="display: none;" class="mt-3 relative">
                            {% for q in qc.question_set.all %}
                                <div class="question-drawer relative mx-3" id="q-draw{{ q.id }}" style="animation: load5 {% widthratio forloop.counter 1 150 %}ms;" onclick="DrawerQuestion('q-draw{{ q.id }}' ,'qdrawer{{ q.id }}' ,'qdrawer-icon{{ q.id }}')">
                                    <div class="flex gap-1">
                                        <i id="qdrawer-icon{{ q.id }}" class="fa fa-add text-[var(--color6)] h-5 w-5 transition-all mt-1 relative"></i>
                                        <div class="text-xl text-[var(--color6)]">{{ q.question }}</div>
                                    </div>
                                    <div id="qdrawer{{ q.id }}" style="display: none" class="relative">
                                        <div class="mt-2 text-[var(--color10)]">
                                            {{ q.answer|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}