{% extends 'index.html' %}
{% load static %}

{% block page_title %}
	| قوانین و شرایط
{% endblock %}

{% block topbar_title %}
    قوانین و شرایط
{% endblock %}

{% block page_content %}
    <div class="centerbox mt-40">
        <div>
            <div class="centerbox">
                <svg class="relative" style="animation: load8 500ms" id="Face" width="70" height="70" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.38867C6.874 2.38867 2.5 6.76267 2.5 12.1387C2.5 17.5147 6.874 21.8887 12.25 21.8887C17.626 21.8887 22 17.5147 22 12.1387C22 6.76267 17.626 2.38867 12.25 2.38867Z" fill="#674d45"></path>
                <path d="M12.25 17.6875C15.006 17.6875 17.248 15.4455 17.248 12.6895V11.9395H15.748V12.6895C15.748 14.6185 14.179 16.1875 12.25 16.1875C10.321 16.1875 8.75195 14.6185 8.75195 12.6895V11.9395H7.25195V12.6895C7.25195 15.4455 9.49395 17.6875 12.25 17.6875Z" fill="#674d45"></path>
                </svg>
            </div>
            <h1 class="text-5xl relative text-center mt-5 font-black" style="animation: load 500ms">
                قوانین و شرایط
            </h1>
            <h1 class="text-center text-[var(--color10)] mt-2"><h1>سیاست‌ها، قوانین و مقررات خرید از برنج و خشکبار نوبخت</h1></h1>
        </div>
    </div>
    <div class="centerbox w-[100%] mt-5">
        <div class="w-[90%]">
            <h2 class="text-3xl font-semibold border-b-3 border-[var(--color11)] w-fit">شرایط خرید و ثبت سفارش</h2>
            <ul class="mt-2 mr-4 text-[var(--color7)]" style="list-style-type: decimal">
                <li>ثبت نهایی سفارش در وبسایت برنج و خشکبار نوبخت به منزله تایید قوانین و شرایط است.</li>
                <li>اطلاعات وارد شده مانند آدرس ، شماره تلفن و ... باید صحیح باشد و در صورت اشتباه در ثبت این اطلاعات، مسئولیت آن با خود کاربر خواهد بود.</li>
                <li>قیمت ها و موجودی محصولات میتوانند تغییر کنند. در صورتی که کاربر سفارشی ثبت کرد که شامل محصولی ناموجود است، برنج و خشکبار نوبخت موظف است هزینه آن محصول را بصورت کامل به مشتری باز گرداند.</li>
                <li>تمامی سفارشات پس از تایید نهایی پردازش میشوند. (سفارشاتی که با روش کارت به کارت هزینه آنها پرداخت میشود در صف تایید رسید واریزی قرار میگیرند)</li>
            </ul>

            <h2 class="text-3xl font-semibold mt-10 border-b-3 border-[var(--color11)] w-fit">ارسال و آماده سازی سفارشات</h2>
            <ul class="mt-2 mr-4 text-[var(--color7)]" style="list-style-type: decimal">
                <li>تمامی سفارشات قبل از ارسال با دقت بررسی میشوند تا از سلامت و درست بودن اقلام اطمینان حاصل شود.</li>
                <li>تمامی سفارشات پس از طی کردن مرحله آماده سازی ارسال میشوند.</li>
                <li>زمان آماده سازی سفارش با توجه به تعداد اقلام سبد خرید متغیر است.</li>
                <li>زمان ارسال سفارش بسته به موقعیت مکانی و روش آن نیز متغیر است.</li>
                <li>مسئولیت وارد کردن اطلاعات اشتباه اعم از آدرس یا شماره تلفن با خود کاربر بوده و برنج و خشکبار نوبخت در قبال آن مسئولیتی ندارد.</li>
            </ul>

            <h2 class="text-3xl font-semibold mt-10 border-b-3 border-[var(--color11)] w-fit">شرایط بازگشت و مرجوعی سفارشات</h2>
            <ul class="mt-2 mr-4 text-[var(--color7)]" style="list-style-type: decimal">
                <li>تمامی سفارشات در صورتی که شامل آسیب دیدگی، خرابی یا محصول اشتباهی هستند قابل بازگشت هستند.</li>
                <li>حداکثر زمان مرجوع کردن سفارش 7 روز پس از رسیدن آن بدست مشتری است.</li>
                <li>در صورت وجود مشکل در محصول خریداری شده ،کاربر باید در سریع ترین زمان ممکن این مورد را به پشتیبانی برنج و خشکبار نوبخت اطلاع دهد</li>
            </ul>

            <h2 class="text-3xl font-semibold mt-10 border-b-3 border-[var(--color11)] w-fit">تضمین کیفیت محصولات</h2>
            <ul class="mt-2 mr-4 text-[var(--color7)]" style="list-style-type: decimal">
                <li>برنج و خشکبار نوبخت به شما اطمینان میدهد، تمامی محصولات دارای کیفیت و تازگی است و برنج خشکبار نوبخت همواره تلاش میکند که این روند حفظ گردد.</li>
            </ul>

            <h2 class="text-3xl font-semibold mt-10 border-b-3 border-[var(--color11)] w-fit">حریم خصوصی کاربران</h2>
            <ul class="mt-2 mr-4 text-[var(--color7)]" style="list-style-type: decimal">
                <li>برنج و خشکبار نوبخت متعهد است که تمامی اطلاعات خصوصی کاربر از جمله شماره تلفن، نام و نام خانوادگی ،آدرس و اطلاعات سفارش محفوظ هستند و از آنها در جهت اهداف سوء استفاده نمیگردد.</li>
            </ul>
        </div>
    </div>
{% endblock %}