{% load poll_extras %}
    <div class="tablebox-default w-[100%] mt-2 relative" style="animation: load8 300ms">
        {% if products %}
            <form method="post" id="form-product">
            {% csrf_token %}
                <table class="table-default" style="margin: 0">
                    <thead class="sticky top-0">
                        <tr>
                            <td></td>
                            <td class="" style="width: 1px">#کدکالا</td>
                            <td></td>
                            <td>عنوان</td>
                            <td>موجودی</td>
                            <td>دسته بندی</td>
                            <td>قیمت</td>
                            <td class="text-center">عملگرها</td>
                        </tr>
                    </thead>
                    <tbody id="product-table-partial">
                        {% include 'adminpanel_module/products/table_components/product_table_partial.html' %}
                    </tbody>
                </table>
            {% else %}
            <div>محصول ثبت نشده!</div>
        {% endif %}
        </form>
    </div>
    <script>
        let checks = document.querySelectorAll('input[name="product"]')
        let toolbar = document.getElementById('table-toolbar')
        let toolbar_item = document.getElementById('table-toolbar-item')
        checks.forEach(item => {
            item.addEventListener('change' ,()=> {
                let checks_checked = document.querySelectorAll('input[name="product"]:checked')
                if (checks_checked.length > 0) {
                    toolbar.classList.remove('disabled')
                    toolbar_item.classList.remove('hidden')
                    toolbar_item.innerHTML = `آیتم (${to_fanum(checks_checked.length)})`
                }
                else {
                    toolbar.classList.add('disabled')
                    toolbar_item.classList.add('hidden')
                }
            })
        })
    </script>


