@font-face {
  font-family: 'Graphic';
  src: url('Graphic.eot');
  src: url('Graphic.eot?#iefix') format('embedded-opentype'),
       url('Graphic.ttf') format('truetype'),
       url('Graphic.woff') format('woff'),
       url('Graphic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

