{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}

{% block page_title %}
    کارت به کارت
{% endblock %}

{% block topbar_title %}
    کارت به کارت
{% endblock %}

{% block page_content %}
    <div class="centerbox order-grid">
        <div class="checkout-title flex mt-35 w-[90%] gap-2 text-[var(--color10)] text-lg">
            <div><button class="btn-prdcounter text-sm pt-1 rounded-2xl" onclick="history.back()"><i class="fa fa-angle-right"></i></button></div>
            <a href="{% url 'my_basket_page' %}" class=" cursor-pointer hover:text-[var(--color6)]">سبد خرید</a>
            <div><i class="fa fa-angle-left text-sm mt-0.5"></i></div>
            <a href="{% url 'checkout_page' %}" class="cursor-pointer hover:text-[var(--color6)]">بررسی سفارش</a>
            <div><i class="fa fa-angle-left text-sm mt-0.5"></i></div>
            <a href="{% url 'checkout_page' %}" class="text-[var(--color6)] cursor-pointer hover:text-[var(--color6)]">پرداخت</a>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" class="checkout centerbox">
        {% csrf_token %}
        <div class="w-[90%] flex items-start gap-3">

            <div class="w-[100%]">
                <div class="mt-3">

                    <div class="flex justify-between">
                        <div class="flex gap-1">
                            <svg class="mt-[-3px]" id="Bank Card" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19.6686H22V10.6716H2.5V19.6686Z" fill="#674d45"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 9.17164H22V4.60864H2.5V9.17164Z" fill="#674d45"></path>
                            <path d="M19.327 16.2307H14.352V14.7307H19.327V16.2307Z" fill="#674d45"></path>
                            <path d="M12.374 16.2307H10.126V14.7307H12.374V16.2307Z" fill="#674d45"></path>
                            </svg>
                            <div class="text-xl font-bold">
                                کارت به کارت
                            </div>
                        </div>
                    </div>

                      <div class="max-w w-[100%] mt-2 mb-55">

                          <div class="w-[100%] flex mt-3 bg-[var(--color12)] p-3 rounded-xl items-start relative" style="animation: load8 400ms">
                                    <div id="upload-avatar" class="image-inputbox" style="{% if t.image %}background-image: url({{ t.image.url }});{% endif %} width: 140px; height: 260px;">
                                        <input accept="image/png, image/jpeg, image/webp" oninput="SetUploadedImage(event ,'upload-avatar')" name="receipt" type="file" class="cursor-pointer w-[100%] h-[100%] opacity-0" style="z-index: 100">
                                        {% if not orders.image %}
                                           <div class="centerbox">
                                                <svg style="z-index: -1" class="relative top-[-160px]" id="Upload" width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M16.65 7.28717C15.53 7.20717 14.3499 7.16735 13.1199 7.15735H11.6199C10.4099 7.16735 9.15 7.21717 7.85 7.28717H7.83C3.8 7.65717 2.5 9.48717 2.5 14.7872C2.5 22.3872 5.35 22.3872 12.25 22.3872C19.15 22.3872 22 22.3872 22 14.7872C22 9.48717 20.7 7.65717 16.65 7.28717Z" fill="#674d45"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9998 4.16917L14.6388 5.81217C14.7848 5.95917 14.9778 6.03316 15.1698 6.03316C15.3608 6.03316 15.5528 5.95917 15.6988 5.81417C15.9928 5.52117 15.9928 5.04617 15.7008 4.75317L12.7808 1.82517C12.4998 1.54217 11.9998 1.54217 11.7188 1.82517L8.79883 4.75317C8.50683 5.04617 8.50683 5.52117 8.80083 5.81417C9.09483 6.10617 9.56883 6.10617 9.86083 5.81217L11.4998 4.16917V14.406C11.4998 14.8177 11.8454 15.1483 12.257 15.1483C12.6689 15.1483 12.9998 14.8173 12.9998 14.4054V4.16917Z" fill="#674d45"></path>
                                                </svg>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="mx-3 mt-3">
                                        <div class="profile-info">
                                            <div class="text-xl">
                                                تصویر رسید واریزی
                                            </div>
                                            <div class="text-sm" style="color: var(--color6)">
                                                رسید واریزی را اینجا آپلود کنید.
                                            </div>
                                            <div class="text-sm" style="color: var(--color5)">
                                                فرمت عکس باید png - jpg - jpeg - webp باشد
                                            </div>
                                        </div>
                                    </div>
                                </div>
                      </div>
                </div>
            </div>

            {% include 'order_module/include/card_number_box_desktop.html' %}
        </div>
        {% include 'order_module/include/card_number_box_mobile.html' %}
    </form>
    <script>
        function to_fanum_timer(num) {
      const persianDigits = ['۰','۱','۲','۳','۴','۵','۶','۷','۸','۹'];

      return num.toString().replace(/[0-9]/g, (d) => persianDigits[d]);
    }


    const EXPIRE_AT = {{ remaining_time }} * 1000;
    const R = 52;
    const CIRC = 2 * Math.PI * R;

    const progress = document.getElementById('timerProgress');
    const ringWrap = document.getElementById('timerRingWrap');
    const countEl = document.getElementById('timerCount');

    progress.style.strokeDasharray = CIRC;

    let DURATION = 0;
    let intervalId = null;

    function getRemaining(){
      return Math.round((EXPIRE_AT - Date.now()) / 1000);
    }

    function formatTime(totalSeconds) {
      const minutes = Math.floor(totalSeconds / 60);
      const seconds = totalSeconds % 60;
      return `${minutes}:${seconds.toString().padStart(2, '0')}`;
    }

    function renderExpired(){
      clearInterval(intervalId);
      progress.style.strokeDashoffset = CIRC;
      countEl.textContent = to_fanum_timer(formatTime(0));
      ringWrap.classList.remove('timer-warn');


      {#Message('زمان شما به پایان رسید، در حال انتقال...', true);#}
        document.getElementById('loader').style.display = 'block'
      setTimeout(() => {
        window.location.href = '{% url 'my_basket_page' %}';
        document.getElementById('loader').style.display = 'block'
      }, 4000);
    }

    function render(remaining){
      const ratio = remaining / DURATION;
      progress.style.strokeDashoffset = CIRC * (1 - ratio);
      countEl.textContent = to_fanum_timer(formatTime(remaining));
      ringWrap.classList.toggle('timer-warn', remaining <= 15);
    }

    function tick(){
      const remaining = getRemaining();

      if(remaining <= 0){
        renderExpired();
        return;
      }

      render(remaining);
    }

    function startTimer(){
      const remainingNow = getRemaining();

      clearInterval(intervalId);

      if(remainingNow <= 0){
        renderExpired();
        return;
      }

      DURATION = remainingNow;
      render(remainingNow);
      intervalId = setInterval(tick, 1000);
    }

    startTimer();



    </script>
{% endblock %}