{% load static %}
{% load poll_extras %}

<div class="basket-total w-[600px]  bg-[var(--color12)] rounded-2xl p-4 sticky top-[100px] mt-12 overflow-hidden">
    <div class="w-[100%] flex justify-between">
        <div class=" text-[var(--color10)]">
            شماره کارت
        </div>
        <div class="mt-1 ml-2">
            <i onclick="CopyToClipboard('clipboard-card' ,'check-card' ,'{{ card.card_code }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard-card"></i>
            <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check-card"></i>
        </div>
    </div>
    <div class="text-[var(--color10)]">
        به نام {{ card.owner }}
    </div>
    <div>
        <div class="text-3xl">{{ card.card_code|format_card_number }}</div>
        {% if card.shaba %}
            <div class="flex w-[100%] justify-between">
                <div><span class="text-[var(--color10)]">IR </span>{{ card.shaba|to_fanum }}</div>
                <div class="ml-2">
                    <i onclick="CopyToClipboard('clipboard-shaba' ,'check-shaba' ,'{{ card.shaba }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard-shaba"></i>
                    <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check-shaba"></i>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="flex justify-between mt-1 border-t border-[var(--color10)] border-dashed pt-2 text-[var(--color10)]">
        <div>مبلغ پرداخت به ریال</div>
        <div class="ml-2">
            <i onclick="CopyToClipboard('clipboard-price' ,'check-price' ,'{{ total_amount }}')" class="fa fa-copy cursor-pointer text-[var(--color10)] mt-0.5 relative" id="clipboard-price"></i>
            <i class="fa fa-check text-[var(--color10)] mt-0.5" style="display: none; animation: load3 200ms; position: relative" id="check-price"></i>
        </div>
    </div>
    <div class="mt-1">
        <div class="text-3xl">
            {{ total_amount|three_digits_currency_rials }}
        </div>
    </div>
    <div class="w-[100%] mt-2">
        <button name="form_type" value="order" type="submit" style="width: 100%; height: 50px; padding-top: 13px; justify-content: center" class="btn-defIconFlex gap-1">
            <svg class="mt-[-2px]" id="Tick Square" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.78467C5.052 2.78467 2.5 5.33667 2.5 12.5347C2.5 19.7327 5.052 22.2847 12.25 22.2847C19.448 22.2847 22 19.7327 22 12.5347C22 5.33667 19.448 2.78467 12.25 2.78467Z" fill="#c5b8b4"></path>
                <path d="M11.5912 15.4375L16.3412 10.6915C16.6342 10.3985 16.6342 9.92351 16.3412 9.63051C16.0482 9.33851 15.5732 9.33751 15.2802 9.63051L11.0612 13.8465L9.2202 12.0035C8.9282 11.7125 8.4532 11.7105 8.1592 12.0035C7.8662 12.2965 7.8662 12.7715 8.1592 13.0645L10.5302 15.4375C10.6712 15.5785 10.8622 15.6575 11.0612 15.6575C11.2602 15.6575 11.4502 15.5785 11.5912 15.4375Z" fill="#c5b8b4"></path>
            </svg>
            <div>پرداخت کردم</div>
        </button>
    </div>
</div>