@import url(AzarMehr.css);
html {
  overflow-y: scroll;
}
body {
  direction: rtl;
  padding: 20px;
  font-family: AzarMehr !important;
  background-color: #efefef;
}
h1{
  text-align: center;
  color: #111;
  margin: 0;
  font-size: 28px;
}
.h11{
  color: #111;
}
.h12{
  color: #efefef;
}
.bg-white {
  color: #222;
  background-color: #efefef;
}
.bg-black {
  color: #efefef;
  background-color: #222;
}
.button-white {
      padding: 15px;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      background-color: #efefef;
      border: none;
      border-radius: 50%;
      outline: none;
}
.button-black {
      padding: 15px;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      background-color: #222;
      border: none;
      border-radius: 50%;
      outline: none;
}
.font-selection{
  margin: 0;
}
.font-selection li {
  display: inline-block;
  margin: 0 5px;
  font-size: 15px;
}
p.sizelabel {
  font: normal 10px/10px "Lucida Grande","Lucida Sans Unicode", arial, sans-serif !important;
  color: #333;
  margin: 0;
}
.changesizeOldNick {
  margin: auto;
  top: 0;
}
.p,.changesizeOldNick {
  background-color: #efefef;
  color: #101010;
}
.changesizeOldNick p {
  margin-bottom: 10px;
}
.changesizeOldNick a { color: #0b6db3; }
.input-slider-1 {
    -webkit-appearance: none;
    width: 300px;
}
.input-slider-2 {
    -webkit-appearance: none;
    width: 300px;
}
.input-slider-1::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}
.input-slider-2::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: #999;
    border: none;
    border-radius: 2px;
}
.input-slider-1::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #222;
    border: none;
    margin-top: -5px;
    cursor:pointer;
}
.input-slider-2::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #efefef;
    border: none;
    margin-top: -5px;
    cursor:pointer;
}
.input-slider-1:focus {
    outline: none;
}
.input-slider-1:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
.input-slider-1::-moz-range-track {
    height: 2px;
    background: #ddd;
    border: none;
    border-radius: 2px;
}
.input-slider-2::-moz-range-track {
    height: 2px;
    background: #999;
    border: none;
    border-radius: 2px;
}
.input-slider-1::-moz-range-thumb {
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #222;
    border: none;
    margin-top: -4px;
    cursor:pointer;
}
.input-slider-2::-moz-range-thumb {
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #efefef;
    border: none;
    margin-top: -4px;
    cursor:pointer;
}
/*hide the outline behind the border*/
.input-slider-1:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
.input-slider-1::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}
.input-slider-1::-ms-fill-lower {
    background: #222;
    border-radius: 10px;
}
.input-slider-1::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.input-slider-1::-ms-thumb {
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #555;
    border: none;
    margin-top: 0px;
  }
.input-slider-1:focus::-ms-fill-lower {
    background: #222;
}
.input-slider-1:focus::-ms-fill-upper {
    background: #ccc;
}
.vertically-stacked-slider {
    padding: 8px;
}
.vertically-stacked-slider > input[type="range"] {
    padding: 0;
}
.horizontally-stacked-slider {
    display: flex;
    align-items: center;
}
.horizontally-stacked-slider > .title {
    flex: 1;
    padding: 8px;
}
.horizontally-stacked-slider > input[type="range"] {
    flex: 1;
}
.verticaltab{
  position: fixed;
  display: block;
  top: 45%;
  right: 150px;
}
.column1 {
    float: right;
    padding: 16px 55px 5px 10px;
    left: 0;
}
.column2 {
    float: right;
    padding: 10px 20px 10px 10px;
    left: 0;
}
.column3 {
    float: right;
    width: 40%;
    padding: 25px 10px 10px 10px;
}
.column4 {
    float: right;
    padding: 30px 10px 10px 10px;
}
.column5 {
    float: left;
    padding: 15px 15px 15px 50px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    z-index: 1;
    margin: 0;
  }
  .toolbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #efefef;
    box-shadow: 0px 2px;
  }
table{
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 30px;
  font-family: AzarMehr !important;
  background-color: #efefef;
}
.t1 {
  background-color: #efefef;
}
.t2{
  background-color: #222;
}
table tr th,
table tr td {
  border-radius: 6px;
}
th, td{
  padding: 16px 16px;
}
td{
  color: #111;
  border-radius: 5px;
  background-color: white;
}
.td1{
  color: #111;
  border-radius: 5px;
  background-color: white;
}
.td2{
  color: #efefef;
  border-radius: 5px;
  background-color: #000;
}
.svglogo-white{
  fill:none;
  stroke:#222;
  stroke-width:1.8;
  stroke-miterlimit:4;
  stroke-dasharray:none;
}
.svglogo-black{
  fill:none;
  stroke:#fff;
  stroke-width:1.5;
  stroke-miterlimit:4;
  stroke-dasharray:none;
}
hr{
  color: #111;
}
.hr1{
  color: #111;
}
.hr2{
  color: #efefef;
}
.w100{
  font-weight: 100;
}
.w200{
  font-weight: 200;
}
.w300{
  font-weight: 300;
}
.w400{
  font-weight: 400;
}
.w500{
  font-weight: 500;
}
.w600{
  font-weight: 600;
}
.w700{
  font-weight: 700;
}
.w800{
  font-weight: 800;
}
.w900{
  font-weight: 900;
}
main{
  transition: 0.5s
}
