{% extends 'adminpanel_module/shared/base-admin.html' %}

{% block admin_title %}
    {% if add_view %}
        سوالات و جواب جدید
        {% else %}
        ویرایش {{ faq.question }}
    {% endif %}
{% endblock %}

{% block admin_content %}
    <form method="post">
        {% csrf_token %}
        <div class="flex justify-between p-2 pt-6 sticky mt-[-10px] top-[-10px] z-10 bg-[var(--header-bg)] backdrop-filter-[blur(10px)] rounded-xl">
            <div class="flex gap-2 items-start">
                <a href="{% url 'admin_faq_list' %}"><button type="button" class="btn-prdcounter mt-1 text-sm pt-1 rounded-2xl"><i class="fa fa-angle-right"></i></button></a>
                <svg class="mt-[-3px]" id="Info Square" width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.78467C5.052 2.78467 2.5 5.33667 2.5 12.5347C2.5 19.7327 5.052 22.2847 12.25 22.2847C19.448 22.2847 22 19.7327 22 12.5347C22 5.33667 19.448 2.78467 12.25 2.78467Z" fill="#674d45"></path>
                <path d="M12.2461 9.78467H12.2551C12.6691 9.78467 13.0011 9.44867 13.0011 9.03467C13.0011 8.62067 12.6601 8.28467 12.2461 8.28467C11.8321 8.28467 11.4961 8.62067 11.4961 9.03467C11.4961 9.44867 11.8321 9.78467 12.2461 9.78467Z" fill="#674d45"></path>
                <path d="M12.2501 17.1797C12.6641 17.1797 13.0001 16.8437 13.0001 16.4297V12.5347C13.0001 12.1207 12.6641 11.7847 12.2501 11.7847C11.8361 11.7847 11.5001 12.1207 11.5001 12.5347V16.4297C11.5001 16.8437 11.8361 17.1797 12.2501 17.1797Z" fill="#674d45"></path>
                </svg>
                <div class="flex gap-2">
                    <h1 class="text-4xl font-semibold">سوالات متداول</h1>
                    <i class="fa fa-angle-left mt-2 text-[var(--color10)]"></i>
                    <div class="text-2xl font-semibold mt-1 text-[var(--color6)]">{% if add_view %}سوال و جواب جدید{% else %}ویرایش سوال{% endif %}</div>
                </div>
            </div>
            <div class="flex gap-1 m-[-5px] items-start">
                <a href="{% url 'admin_faq_list' %}" class="flex gap-1 bg-[var(--cancel-bg)] text-[var(--loss-dot)] h-[42px] rounded-xl p-2.5"><div>انصراف</div><i class="fa fa-trash text-xs mt-1"></i></a>
                <button class="btn-defIconFlex gap-1 z-20" type="submit">ذخیره <i class="fa fa-add mt-1"></i></button>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="tablebox-default mt-2 relative" style="width: 100%; animation: load 300ms">
                <div class="flex gap-1">
                    <svg class="mt-[-2px]" id="Info Square" width="24" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.25 2.78467C5.052 2.78467 2.5 5.33667 2.5 12.5347C2.5 19.7327 5.052 22.2847 12.25 22.2847C19.448 22.2847 22 19.7327 22 12.5347C22 5.33667 19.448 2.78467 12.25 2.78467Z" fill="#674d45"></path>
                        <path d="M12.2461 9.78467H12.2551C12.6691 9.78467 13.0011 9.44867 13.0011 9.03467C13.0011 8.62067 12.6601 8.28467 12.2461 8.28467C11.8321 8.28467 11.4961 8.62067 11.4961 9.03467C11.4961 9.44867 11.8321 9.78467 12.2461 9.78467Z" fill="#674d45"></path>
                        <path d="M12.2501 17.1797C12.6641 17.1797 13.0001 16.8437 13.0001 16.4297V12.5347C13.0001 12.1207 12.6641 11.7847 12.2501 11.7847C11.8361 11.7847 11.5001 12.1207 11.5001 12.5347V16.4297C11.5001 16.8437 11.8361 17.1797 12.2501 17.1797Z" fill="#674d45"></path>
                    </svg>
                    <h1 class="text-xl font-semibold">اطلاعات دسته سوال</h1>
                </div>

                <div class="editpanel-row mt-2 flex gap-2">
                    <div class="w-[100%]">
                        <div> سوال<span class="text-[var(--loss-dot)]">*</span></div>
                        <input value="{{ faq.question }}" class="input-admin" name="question" id="title" placeholder="سوال را مطرح کنید">
                    </div>

                    <div class="w-[100%]">
                        <div> دسته بندی<span class="text-[var(--loss-dot)]">*</span></div>
                        <select class="input-admin" name="category">
                            {% for faq_c in faq_category %}
                            <option {% if faq_c.pk == faq.category.pk %}selected{% endif %} value="{{ faq_c.pk }}">{{ faq_c.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="editpanel-row mt-2 flex gap-2">
                    <textarea placeholder="پاسخ سوال را بنویسید" class="input-admin pt-3 min-h-40" name="answer">{{ faq.answer|default_if_none:'' }}</textarea>
                </div>

            </div>

        </div>
    </form>
{% endblock %}