{% load static %}
{% load poll_extras %}


    <a onclick="Showloader(3000)" href="{{ cat.get_absolute_url }}" class="{% if cat.id == current_category.id %}active-category{% endif %} flex-nowrap p-2 rounded-2xl bg-[var(--color12)] swiper-slide relative" style="">
        <div class="flex gap-2">
            <div class="emoji-card text-2xl bg-[var(--color13)] centerbox items-center pt-1.5 w-15 h-15 rounded-xl">{{ cat.emoji }}</div>
            <div class="mt-2 text-nowrap">
                <div class="text-xl">{{ cat.title }}</div>
                <div class="cat-sub flex gap-1 text-sm text-[var(--color10)] mt-[-3px]"><div class="text-">{{ cat.subcategory.count|to_fanum }}</div> زیر شاخه</div>
            </div>
        </div>
    </a>