{% load static %}
{% load poll_extras %}
                    {% if request.user.is_authenticated %}
                        <div class="cart-items" id="cart-items" style="z-index: 80">
                            {% for o in basket.orderdetails_set.all %}
                                {% if o.product.id == product.id %}
                                <div id="prd-item" class="prd-item p-2 w-[100%] rounded-2xl mb-2 border-2 border-[var(--color13)] relative" style="background-color: var(--color19);">
                                    <div class="flex gap-2">
                                        <div class="bg-[var(--color11)] w-20 rounded-xl" style="overflow:hidden;">
                                            <img loading="lazy" alt="{{ product.title }}" class="w-[100%]" src="{% if product.product_image.first %}{{ product.product_image.first.image.url }}{% endif %}">
                                        </div>
                                        <div class="mt-2 w-[100%] flex justify-between">
                                            <div>
                                                <div class="flex gap-1">
                                                    <svg class="mt-1" id="Buy" width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M6.39507 6.30158L6.09507 3.24158H2.19507V4.74158H4.73507L6.01507 17.4416H20.8351L22.3051 6.30158H6.39507Z" fill="#674d45"></path>
                                                    <path d="M13.8245 11.7118H17.9945V10.2118H13.8245V11.7118Z" fill="#674d45"></path>
                                                    <path d="M6.57983 20.5527C6.57983 19.8497 7.15083 19.2787 7.85383 19.2787C8.55583 19.2787 9.12683 19.8497 9.12683 20.5527C9.12683 21.2557 8.55583 21.8277 7.85383 21.8277C7.15083 21.8277 6.57983 21.2557 6.57983 20.5527Z" fill="#674d45"></path>
                                                    <path d="M17.447 20.5527C17.447 19.8497 18.018 19.2787 18.721 19.2787C19.424 19.2787 19.995 19.8497 19.995 20.5527C19.995 21.2557 19.424 21.8277 18.721 21.8277C18.018 21.8277 17.447 21.2557 17.447 20.5527Z" fill="#674d45"></path>
                                                    </svg>
                                                    {% if product.is_byWeight %}
                                                        <div class="mt-0.5 text-[var(--color10)]">
                                                            {{ o.count|to_fanum }} بسته {{ o.pack_size|to_fanum }}
                                                        </div>
                                                        {% else %}
                                                        <div class="mt-0.5 text-[var(--color10)]">{{ o.count|to_fanum }} عدد</div>
                                                    {% endif %}
                                                </div>
                                                <div class="prd-item-price font-bold text-2xl text-[var(--color6)]">
                                                    {{ o.total_price|three_digits_currency }}
                                                </div>
                                            </div>
                                            <div class="flex mt-6 ml-2 gap-3">
                                                <button onclick="change_order_count({{ o.id }} ,'increase' ,'product')" class="btn-prdcounter"><i class="fa fa-add mt-1.5 text-sm"></i></button>
                                                <div>{{ o.count|to_fanum }}</div>
                                                <button onclick="change_order_count({{ o.id }} ,'decrease' ,'product')" class="btn-prdcounter">{% if o.count == 1 %}<i class="fa fa-trash text-sm mt-1.5"></i>{% else %}<i class="fa fa-minus mt-1.5 text-sm"></i>{% endif %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script>

                        </script>

                    {% endif %}