/**
*
*	Name:			Veno Typeface
*	Version:			1.0
*	Author:			Amir Mesbahi
*	Created on:		October 2023
*	Updated on:		October 2023
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ابر یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Veno fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 10;
	src: url('woff/Veno-Thin.woff') format('woff'),   
	url('woff2/Veno-Thin.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 100;
	src: url('woff/Veno-ExtraLight.woff') format('woff'),   
	url('woff2/Veno-ExtraLight.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 200;
	src: url('woff/Veno-UltraLight.woff') format('woff'),   
	url('woff2/Veno-UltraLight.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 300;
	src: url('woff/Veno-Light.woff') format('woff'),   
	url('woff2/Veno-Light.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: normal;
	src: url('woff/Veno-Regular.woff') format('woff'),   
	url('woff2/Veno-Regular.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 500;
	src: url('woff/Veno-Medium.woff') format('woff'),   
	url('woff2/Veno-Medium.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 600;
	src: url('woff/Veno-DemiBold.woff') format('woff'),   
	url('woff2/Veno-DemiBold.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 650;
	src: url('woff/Veno-SemiBold.woff') format('woff'),   
	url('woff2/Veno-SemiBold.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: bold;
	src: url('woff/Veno-Bold.woff') format('woff'),   
	url('woff2/Veno-Bold.woff2') format('woff2');	
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 800;
	src: url('woff/Veno-ExtraBold.woff') format('woff'),   
	url('woff2/Veno-ExtraBold.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 900;
	src: url('woff/Veno-UltraBold.woff') format('woff'),   
	url('woff2/Veno-UltraBold.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 930;
	src: url('woff/Veno-Black.woff') format('woff'),   
	url('woff2/Veno-Black.woff2') format('woff2');		 	 
}
@font-face {
	font-family: Veno;
	font-style: normal;
	font-weight: 960;
	src: url('woff/Veno-Heavy.woff') format('woff'),   
	url('woff2/Veno-Heavy.woff2') format('woff2');		 	 
}